{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    // "no-unused-vars": "off",
    // "no-undef": "off",
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "none",
        "tabWidth": 2,
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 80,
        "jsxSingleQuote": true
      }
    ]
  }
  // "env": {
  //   "node": true
  // },
  // "globals": {
  //   "process": "readonly"
  // },
}